@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGC-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}



*,*:before,*:after {
	box-sizing: border-box
}
html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block
}

body,form {
	margin: 0
}
audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden],template {
	display: none
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
body {
	font-family: "Source Sans Pro",sans-serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #101010;
	font-weight: 400;
	background: #fff
}
p {
	margin: 0 0 1em
}
a {
	color: #101010;
	background: 0 0;
	text-decoration: underline
}
a:active,a:hover {
	color: #DD1010;
	outline: 0;
	text-decoration: underline
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	font-family: "Source Sans Pro",sans-serif
}
.h6 {
	margin: 0
}
h1,.h1 {
	font-size: 2.25rem;
	line-height: 2.625rem;
	margin: .7em 0 .5em;
	color: #101010;
	font-weight: 700
}
h2,.h2 {
	font-size: 1.625rem;
	line-height: 2rem;
	margin: 1.4em 0 .2em
}
h2,.h2,h3,.h3 {
	color: #101010;
	font-weight: 400
}
h3,.h3 {
	font-size: 1.375rem;
	line-height: 1.75rem
}
h3,.h3,h4,.h4 {
	margin: 1em 0 .2em
}
h4,.h4 {
	font-size: 1.125rem;
	line-height: 1.5rem
}
h4,.h4,h5,.h5 {
	color: #101010;
	font-weight: 400
}
h5,.h5 {
	font-size: 1rem;
	line-height: 1.375rem
}
h5,.h5,h6 {
	margin: 1em 0 .1em
}
h6,.h6 {
	font-size: .875rem;
	line-height: 1.25rem;
	color: #101010;
	font-weight: 400
}
.h6 {
	margin-top: 1em;
	margin-bottom: .1em
}
b,strong,.strong {
	font-weight: 700
}
em,.em {
	font-style: italic
}
abbr[title],.abbr[title] {
	border-bottom: 1px dotted
}
dfn {
	font-style: italic
}
small,.small {
	font-size: 80%
}
mark,.mark {
	background: #ff0;
	color: #000
}
sub,.sub,sup,.sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup,.sup {
	top: -.5em
}
sub,.sub {
	bottom: -.25em
}
del,.del {
	text-decoration: line-through
}
figure {
	margin: 1em 40px
}
hr {
	height: 1px;
	margin-bottom: 1em
}
hr,.hr {
	box-sizing: content-box;
	background: #eee;
	border: 0;
	margin-top: 1em
}
ul,ol {
	margin: 1em 0 2em;
	padding: 0 0 0 20px
}
ul li,ol li {
	margin: 0 0 0.5em 2em
}
dl:before,dl:after {
	content: " ";
	display: table
}
dl:after {
	clear: both
}
dl dt {
	float: left;
	width: 25%;
	display: block;
	font-weight: 400
}
dl dd {
	overflow: hidden;
	display: block
}
blockquote,.blockquote {
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 400;
	color: #424242;
	font-style: italic;
	margin: 3em 0
}
blockquote p,.blockquote p {
	font-size: 1.375rem;
	line-height: 1.75rem;
	margin-bottom: .4em
}
blockquote cite,.blockquote cite {
	font-size: .8125rem;
	line-height: 1.3125rem;
	font-weight: 700;
	font-style: normal;
	color: #777
}
caption {
	font-size: 1.125rem;
	line-height: normal;
	font-weight: 700;
	text-align: left;
	padding: .5em 0;
	border-bottom: 1px solid #d7d7d7
}
table {
	font-size: .875rem;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 1em 0;
	text-align: left
}
table thead td,table tbody td,table tfoot td,table thead th,table tbody th,table tfoot th {
	color: #585858;
	padding: .8em .5em;
	border-bottom: 1px solid #e9e9e9
}
code,kbd {
	padding: 5px
}
code,kbd,pre,samp {
	font-size: .8125rem;
	line-height: 1.125rem;
	word-wrap: break-word;
	font-family: 'courier new',monospace,serif;
	color: #272727;
	background-color: #f1f1f1;
	font-weight: 400;
	white-space: pre-wrap
}
samp {
	padding: 5px
}
pre {
	padding: 10px;
	overflow: auto;
	border: 1px solid #d7d7d7
}
fieldset,legend {
	border: 0;
	margin: 0;
	padding: 0
}
legend {
	font-size: 1.125rem;
	line-height: 1.625rem;
	font-weight: 700
}
.form {
	padding-top: 1em;
	padding-bottom: 1em
}
label,button,input,optgroup,select,textarea {
	color: #222;
	font: inherit;
	margin: 0
}
input {
	line-height: normal
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"],input[type="date"] {
	height: 36px;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	border-radius: 0
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="tel"]:focus,input[type="number"]:focus,input[type="date"]:focus {
	border-color: #f7c723;
	outline: 0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0
}
input[type="date"]::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none
}
input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height: auto
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}
textarea {
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	overflow: auto
}
textarea:focus {
	border-color: #f7c723;
	outline: 0
}
select {
	text-transform: none;
	height: 36px;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #ccc
}
select:focus {
	border-color: #f7c723;
	outline: 0
}
optgroup {
	font-weight: 700
}
button {
	overflow: visible;
	text-transform: none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled],html input[disabled] {
	cursor: default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}
::-webkit-input-placeholder {
	color: #999
}
:-moz-placeholder,::-moz-placeholder {
	color: #999
}
:-ms-input-placeholder {
	color: #999
}
.h2-secondary {
	position: relative
}
.h2-secondary:after {
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background: #101010;
	float: none;
	margin: 10px auto 20px
}
.button {
	border: 5px solid #fff;
	background-color: #fff;
	line-height: normal;
	padding: .5em 1em;
	text-decoration: none;
	color: #363636;
	display: inline-block;
	-webkit-transition: all .3s;
	transition: all .3s
}
.button:hover,.button:active {
	border: 5px solid #DD1010;
	text-decoration: none
}
.button:hover {
	border: 5px solid #DD1010;
	background: #f9f9f9
}
.button-secondary {
	background-color: #f9f9f9;
	background-color: rgba(249,249,249,.95);
	color: #000
}
.button-link {
	color: #101010;
	text-decoration: underline;
	border: 0;
	background: 0 0;
	padding: 0
}
.button-link:hover {
	text-decoration: none;
	background: 0 0
}
.button-link:active {
	outline: 0
}
.select {
	overflow: hidden;
	position: relative;
	display: block
}
.select:before {
	content: "";
	border: 6px solid transparent;
	border-top-color: #676767;
	top: 50%;
	right: 10px;
	margin-top: -3px;
	pointer-events: none;
	position: absolute
}
.select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 35px;
	width: 100%;
	padding: 0 10px;
	line-height: normal;
	border: 1px solid #ccc;
	background: #fff;
	display: block
}
.select select::-ms-expand {
	display: none
}
.select select:focus {
	border-color: #f7c723
}
.select select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #222;
	border-color: #f7c723
}
.hr {
	width: 140px;
	height: 2px
}
.hr,.hr-secondary {
	background: #c9c9c9;
	margin-bottom: 20px
}
.hr-secondary {
	width: 100%;
	height: 1px;
	margin-top: 20px
}
.clear:before,.clear:after {
	content: " ";
	display: table
}
.clear:after {
	clear: both
}
.row:before,.row:after {
	content: "";
	display: table
}
.row:after {
	clear: both
}
.row {
	position: relative;
	margin-left: -15px;
	margin-right: -15px
}
.container {
	padding-left: 15px;
	padding-right: 15px
}
.container,.container-full {
	margin-left: auto;
	margin-right: auto
}
.container-full {
	padding-left: 0;
	padding-right: 0
}
@media only screen and (min-width:740px) {.container,.container-full {
	width: 720px
}
.container-tablet {
	padding-left: 15px;
	padding-right: 15px
}
.container-tablet,.container-full-tablet {
	width: 720px;
	margin-left: auto;
	margin-right: auto
}
.container-full-tablet {
	padding-left: 0;
	padding-right: 0
}

}
@media only screen and (min-width:980px) {.container,.container-full {
width: 960px
}
.container-desktop {
padding-left: 15px;
padding-right: 15px
}
.container-desktop,.container-full-desktop {
width: 960px;
margin-left: auto;
margin-right: auto
}
.container-full-desktop {
padding-left: 0;
padding-right: 0
}

}
@media only screen and (min-width:1140px) {.container,.container-full {
width: 1120px
}
.container-hd {
padding-left: 15px;
padding-right: 15px
}
.container-hd,.container-full-hd {
width: 1120px;
margin-left: auto;
margin-right: auto
}
.container-full-hd {
padding-left: 0;
padding-right: 0
}

}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
padding-left: 15px;
padding-right: 15px;
position: relative;
float: left
}
.col-1 {
width: 8.33333333%
}
.col-2 {
width: 16.66666667%
}
.col-3 {
width: 25%
}
.col-4 {
width: 33.33333333%
}
.col-5 {
width: 41.66666667%
}
.col-6 {
width: 50%
}
.col-7 {
width: 58.33333333%
}
.col-8 {
width: 66.66666667%
}
.col-9 {
width: 75%
}
.col-10 {
width: 83.33333333%
}
.col-11 {
width: 91.66666667%
}
.col-12 {
width: 100%
}
.push-1 {
left: 8.33333333%
}
.push-2 {
left: 16.66666667%
}
.push-3 {
left: 25%
}
.push-4 {
left: 33.33333333%
}
.push-5 {
left: 41.66666667%
}
.push-6 {
left: 50%
}
.push-7 {
left: 58.33333333%
}
.push-8 {
left: 66.66666667%
}
.push-9 {
left: 75%
}
.push-10 {
left: 83.33333333%
}
.push-11 {
left: 91.66666667%
}
.pull-1 {
left: -8.33333333%
}
.pull-2 {
left: -16.66666667%
}
.pull-3 {
left: -25%
}
.pull-4 {
left: -33.33333333%
}
.pull-5 {
left: -41.66666667%
}
.pull-6 {
left: -50%
}
.pull-7 {
left: -58.33333333%
}
.pull-8 {
left: -66.66666667%
}
.pull-9 {
left: -75%
}
.pull-10 {
left: -83.33333333%
}
.pull-11 {
left: -91.66666667%
}
.row-top-5 {
padding-top: 5px
}
.row-top-10 {
padding-top: 10px
}
.row-top-15 {
padding-top: 15px
}
.row-top-20 {
padding-top: 20px
}
.row-top-25 {
padding-top: 25px
}
.row-top-30 {
padding-top: 30px
}
.row-top-35 {
padding-top: 35px
}
.row-top-40 {
padding-top: 40px
}
.row-top-45 {
padding-top: 45px
}
.row-top-50 {
padding-top: 50px
}
.row-top-55 {
padding-top: 55px
}
.row-top-60 {
padding-top: 60px
}
.row-bottom-5 {
padding-bottom: 5px
}
.row-bottom-10 {
padding-bottom: 10px
}
.row-bottom-15 {
padding-bottom: 15px
}
.row-bottom-20 {
padding-bottom: 20px
}
.row-bottom-25 {
padding-bottom: 25px
}
.row-bottom-30 {
padding-bottom: 30px
}
.row-bottom-35 {
padding-bottom: 35px
}
.row-bottom-40 {
padding-bottom: 40px
}
.row-bottom-45 {
padding-bottom: 45px
}
.row-bottom-50 {
padding-bottom: 50px
}
.row-bottom-55 {
padding-bottom: 55px
}
.row-bottom-60 {
padding-bottom: 60px
}
@media only screen and (min-width:740px) {.col-1-tablet,.col-2-tablet,.col-3-tablet,.col-4-tablet,.col-5-tablet,.col-6-tablet,.col-7-tablet,.col-8-tablet,.col-9-tablet,.col-10-tablet,.col-11-tablet,.col-12-tablet {
padding-left: 15px;
padding-right: 15px;
position: relative;
float: left
}
.col-1-tablet {
width: 8.33333333%
}
.col-2-tablet {
width: 16.66666667%
}
.col-3-tablet {
width: 25%
}
.col-4-tablet {
width: 33.33333333%
}
.col-5-tablet {
width: 41.66666667%
}
.col-6-tablet {
width: 50%
}
.col-7-tablet {
width: 58.33333333%
}
.col-8-tablet {
width: 66.66666667%
}
.col-9-tablet {
width: 75%
}
.col-10-tablet {
width: 83.33333333%
}
.col-11-tablet {
width: 91.66666667%
}
.col-12-tablet {
width: 100%
}
.push-1-tablet {
left: 8.33333333%
}
.push-2-tablet {
left: 16.66666667%
}
.push-3-tablet {
left: 25%
}
.push-4-tablet {
left: 33.33333333%
}
.push-5-tablet {
left: 41.66666667%
}
.push-6-tablet {
left: 50%
}
.push-7-tablet {
left: 58.33333333%
}
.push-8-tablet {
left: 66.66666667%
}
.push-9-tablet {
left: 75%
}
.push-10-tablet {
left: 83.33333333%
}
.push-11-tablet {
left: 91.66666667%
}
.pull-1-tablet {
left: -8.33333333%
}
.pull-2-tablet {
left: -16.66666667%
}
.pull-3-tablet {
left: -25%
}
.pull-4-tablet {
left: -33.33333333%
}
.pull-5-tablet {
left: -41.66666667%
}
.pull-6-tablet {
left: -50%
}
.pull-7-tablet {
left: -58.33333333%
}
.pull-8-tablet {
left: -66.66666667%
}
.pull-9-tablet {
left: -75%
}
.pull-10-tablet {
left: -83.33333333%
}
.pull-11-tablet {
left: -91.66666667%
}
.row-top-5-tablet {
padding-top: 5px
}
.row-top-10-tablet {
padding-top: 10px
}
.row-top-15-tablet {
padding-top: 15px
}
.row-top-20-tablet {
padding-top: 20px
}
.row-top-25-tablet {
padding-top: 25px
}
.row-top-30-tablet {
padding-top: 30px
}
.row-top-35-tablet {
padding-top: 35px
}
.row-top-40-tablet {
padding-top: 40px
}
.row-top-45-tablet {
padding-top: 45px
}
.row-top-50-tablet {
padding-top: 50px
}
.row-top-55-tablet {
padding-top: 55px
}
.row-top-60-tablet {
padding-top: 60px
}
.row-bottom-5-tablet {
padding-bottom: 5px
}
.row-bottom-10-tablet {
padding-bottom: 10px
}
.row-bottom-15-tablet {
padding-bottom: 15px
}
.row-bottom-20-tablet {
padding-bottom: 20px
}
.row-bottom-25-tablet {
padding-bottom: 25px
}
.row-bottom-30-tablet {
padding-bottom: 30px
}
.row-bottom-35-tablet {
padding-bottom: 35px
}
.row-bottom-40-tablet {
padding-bottom: 40px
}
.row-bottom-45-tablet {
padding-bottom: 45px
}
.row-bottom-50-tablet {
padding-bottom: 50px
}
.row-bottom-55-tablet {
padding-bottom: 55px
}
.row-bottom-60-tablet {
padding-bottom: 60px
}

}
@media only screen and (min-width:980px) {.col-1-desktop,.col-2-desktop,.col-3-desktop,.col-4-desktop,.col-5-desktop,.col-6-desktop,.col-7-desktop,.col-8-desktop,.col-9-desktop,.col-10-desktop,.col-11-desktop,.col-12-desktop {
padding-left: 15px;
padding-right: 15px;
position: relative;
float: left
}
.col-1-desktop {
width: 8.33333333%
}
.col-2-desktop {
width: 16.66666667%
}
.col-3-desktop {
width: 25%
}
.col-4-desktop {
width: 33.33333333%
}
.col-5-desktop {
width: 41.66666667%
}
.col-6-desktop {
width: 50%
}
.col-7-desktop {
width: 58.33333333%
}
.col-8-desktop {
width: 66.66666667%
}
.col-9-desktop {
width: 75%
}
.col-10-desktop {
width: 83.33333333%
}
.col-11-desktop {
width: 91.66666667%
}
.col-12-desktop {
width: 100%
}
.push-1-desktop {
left: 8.33333333%
}
.push-2-desktop {
left: 16.66666667%
}
.push-3-desktop {
left: 25%
}
.push-4-desktop {
left: 33.33333333%
}
.push-5-desktop {
left: 41.66666667%
}
.push-6-desktop {
left: 50%
}
.push-7-desktop {
left: 58.33333333%
}
.push-8-desktop {
left: 66.66666667%
}
.push-9-desktop {
left: 75%
}
.push-10-desktop {
left: 83.33333333%
}
.push-11-desktop {
left: 91.66666667%
}
.pull-1-desktop {
left: -8.33333333%
}
.pull-2-desktop {
left: -16.66666667%
}
.pull-3-desktop {
left: -25%
}
.pull-4-desktop {
left: -33.33333333%
}
.pull-5-desktop {
left: -41.66666667%
}
.pull-6-desktop {
left: -50%
}
.pull-7-desktop {
left: -58.33333333%
}
.pull-8-desktop {
left: -66.66666667%
}
.pull-9-desktop {
left: -75%
}
.pull-10-desktop {
left: -83.33333333%
}
.pull-11-desktop {
left: -91.66666667%
}
.row-top-5-desktop {
padding-top: 5px
}
.row-top-10-desktop {
padding-top: 10px
}
.row-top-15-desktop {
padding-top: 15px
}
.row-top-20-desktop {
padding-top: 20px
}
.row-top-25-desktop {
padding-top: 25px
}
.row-top-30-desktop {
padding-top: 30px
}
.row-top-35-desktop {
padding-top: 35px
}
.row-top-40-desktop {
padding-top: 40px
}
.row-top-45-desktop {
padding-top: 45px
}
.row-top-50-desktop {
padding-top: 50px
}
.row-top-55-desktop {
padding-top: 55px
}
.row-top-60-desktop {
padding-top: 60px
}
.row-bottom-5-desktop {
padding-bottom: 5px
}
.row-bottom-10-desktop {
padding-bottom: 10px
}
.row-bottom-15-desktop {
padding-bottom: 15px
}
.row-bottom-20-desktop {
padding-bottom: 20px
}
.row-bottom-25-desktop {
padding-bottom: 25px
}
.row-bottom-30-desktop {
padding-bottom: 30px
}
.row-bottom-35-desktop {
padding-bottom: 35px
}
.row-bottom-40-desktop {
padding-bottom: 40px
}
.row-bottom-45-desktop {
padding-bottom: 45px
}
.row-bottom-50-desktop {
padding-bottom: 50px
}
.row-bottom-55-desktop {
padding-bottom: 55px
}
.row-bottom-60-desktop {
padding-bottom: 60px
}

}
@media only screen and (min-width:1140px) {.col-1-hd,.col-2-hd,.col-3-hd,.col-4-hd,.col-5-hd,.col-6-hd,.col-7-hd,.col-8-hd,.col-9-hd,.col-10-hd,.col-11-hd,.col-12-hd {
padding-left: 15px;
padding-right: 15px;
position: relative;
float: left
}
.col-1-hd {
width: 8.33333333%
}
.col-2-hd {
width: 16.66666667%
}
.col-3-hd {
width: 25%
}
.col-4-hd {
width: 33.33333333%
}
.col-5-hd {
width: 41.66666667%
}
.col-6-hd {
width: 50%
}
.col-7-hd {
width: 58.33333333%
}
.col-8-hd {
width: 66.66666667%
}
.col-9-hd {
width: 75%
}
.col-10-hd {
width: 83.33333333%
}
.col-11-hd {
width: 91.66666667%
}
.col-12-hd {
width: 100%
}
.push-1-hd {
left: 8.33333333%
}
.push-2-hd {
left: 16.66666667%
}
.push-3-hd {
left: 25%
}
.push-4-hd {
left: 33.33333333%
}
.push-5-hd {
left: 41.66666667%
}
.push-6-hd {
left: 50%
}
.push-7-hd {
left: 58.33333333%
}
.push-8-hd {
left: 66.66666667%
}
.push-9-hd {
left: 75%
}
.push-10-hd {
left: 83.33333333%
}
.push-11-hd {
left: 91.66666667%
}
.pull-1-hd {
left: -8.33333333%
}
.pull-2-hd {
left: -16.66666667%
}
.pull-3-hd {
left: -25%
}
.pull-4-hd {
left: -33.33333333%
}
.pull-5-hd {
left: -41.66666667%
}
.pull-6-hd {
left: -50%
}
.pull-7-hd {
left: -58.33333333%
}
.pull-8-hd {
left: -66.66666667%
}
.pull-9-hd {
left: -75%
}
.pull-10-hd {
left: -83.33333333%
}
.pull-11-hd {
left: -91.66666667%
}
.row-top-5-hd {
padding-top: 5px
}
.row-top-10-hd {
padding-top: 10px
}
.row-top-15-hd {
padding-top: 15px
}
.row-top-20-hd {
padding-top: 20px
}
.row-top-25-hd {
padding-top: 25px
}
.row-top-30-hd {
padding-top: 30px
}
.row-top-35-hd {
padding-top: 35px
}
.row-top-40-hd {
padding-top: 40px
}
.row-top-45-hd {
padding-top: 45px
}
.row-top-50-hd {
padding-top: 50px
}
.row-top-55-hd {
padding-top: 55px
}
.row-top-60-hd {
padding-top: 60px
}
.row-bottom-5-hd {
padding-bottom: 5px
}
.row-bottom-10-hd {
padding-bottom: 10px
}
.row-bottom-15-hd {
padding-bottom: 15px
}
.row-bottom-20-hd {
padding-bottom: 20px
}
.row-bottom-25-hd {
padding-bottom: 25px
}
.row-bottom-30-hd {
padding-bottom: 30px
}
.row-bottom-35-hd {
padding-bottom: 35px
}
.row-bottom-40-hd {
padding-bottom: 40px
}
.row-bottom-45-hd {
padding-bottom: 45px
}
.row-bottom-50-hd {
padding-bottom: 50px
}
.row-bottom-55-hd {
padding-bottom: 55px
}
.row-bottom-60-hd {
padding-bottom: 60px
}

}
.no-margin {
margin: 0
}
.no-padding {
padding: 0
}
.no-background {
background: 0 0
}
.no-border {
border: 0
}
.no-select {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default
}
.font-100 {
font-weight: 100
}
.font-200 {
font-weight: 200
}
.font-300 {
font-weight: 300
}
.font-400 {
font-weight: 400
}
.font-500 {
font-weight: 500
}
.font-600 {
font-weight: 600
}
.font-700 {
font-weight: 700
}
.font-800 {
font-weight: 800
}
.font-900 {
font-weight: 900
}
.font-normal {
font-style: normal
}
.font-italic {
font-style: italic
}
.uppercase {
text-transform: uppercase
}
.lowercase {
text-transform: lowercase
}
.capitalize {
text-transform: capitalize
}
.text-left {
text-align: left
}
.text-right {
text-align: right
}
.text-center {
text-align: center
}
.text-justify {
text-align: justify
}
.relative {
position: relative
}
.absolute {
position: absolute
}
.static {
position: static
}
.fixed {
position: fixed
}
.none {
display: none
}
.block {
display: block
}
.inline-block {
display: inline-block
}
.inline {
display: inline
}
.flex {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex
}
.flex-row {
-webkit-box-orient: horizontal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row
}
.flex-row,.flex-column {
-webkit-box-direction: normal
}
.flex-column {
-webkit-box-orient: vertical;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column
}
.flex-space-around {
-webkit-justify-content: space-around;
-ms-flex-pack: distribute;
justify-content: space-around
}
.flex-space-between {
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between
}
.flex-start {
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start
}
.flex-center {
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center
}
.flex-end {
-webkit-box-pack: end;
-webkit-justify-content: flex-end;
-ms-flex-pack: end;
justify-content: flex-end
}
.flex-wrap {
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap
}
.flex-nowrap {
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap
}
.left {
float: left
}
.right {
float: right
}
.center-element {
float: none;
margin-left: auto;
margin-right: auto
}
.sr {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px
}
.list-unstyled {
list-style: none
}
.list-unstyled,.list-unstyled li,.list-inline {
margin: 0;
padding: 0
}
.list-inline {
list-style: none
}
.list-inline li {
margin: 0;
padding: 0;
display: inline-block
}
.img-fluid {
max-width: 100%
}
.img-left {
float: left;
margin-right: 20px
}
.img-right {
float: right;
margin-left: 20px
}
.field-group {
padding-top: .5em;
padding-bottom: .5em;
overflow: hidden
}
.field-group label {
padding-top: 8px
}
.field {
width: 100%
}
.disabled {
pointer-events: none;
opacity: .5
}
.checkbox,.radio {
display: inline-block;
position: relative;
margin-top: .5em;
margin-bottom: .5em
}
.checkbox label,.radio label {
padding-left: 20px;
padding-top: 0;
display: inline-block
}
.checkbox input[type="checkbox"],.radio input[type="checkbox"],.checkbox input[type="radio"],.radio input[type="radio"] {
position: absolute;
top: 4px;
left: 0
}
.animate-infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite
}
@media only screen and (min-width:740px) {.no-float-tablet {
float: none
}
.no-padding-tablet {
padding: 0
}
.no-margin-tablet {
margin: 0
}
.relative-tablet {
position: relative
}
.absolute-tablet {
position: absolute
}
.static-tablet {
position: static
}
.fixed-tablet {
position: fixed
}
.none-tablet {
display: none
}
.block-tablet {
display: block
}
.inline-block-tablet {
display: inline-block
}
.inline-tablet {
display: inline
}
.left-tablet {
float: left
}
.right-tablet {
float: right
}
.text-left-tablet {
text-align: left
}
.text-right-tablet {
text-align: right
}
.text-center-tablet {
text-align: center
}
.text-justify-tablet {
text-align: justify
}
.no-col-tablet {
width: auto;
float: none
}
.no-push-tablet,.no-pull-tablet {
left: 0
}

}
@media only screen and (min-width:980px) {.no-float-desktop {
float: none
}
.no-padding-desktop {
padding: 0
}
.no-margin-desktop {
margin: 0
}
.relative-desktop {
position: relative
}
.absolute-desktop {
position: absolute
}
.static-desktop {
position: static
}
.fixed-desktop {
position: fixed
}
.none-desktop {
display: none
}
.block-desktop {
display: block
}
.inline-block-desktop {
display: inline-block
}
.inline-desktop {
display: inline
}
.left-desktop {
float: left
}
.right-desktop {
float: right
}
.text-left-desktop {
text-align: left
}
.text-right-desktop {
text-align: right
}
.text-center-desktop {
text-align: center
}
.text-justify-desktop {
text-align: justify
}
.no-col-desktop {
width: auto;
float: none
}
.no-push-desktop,.no-pull-desktop {
left: 0
}

}
@media only screen and (min-width:1140px) {.no-float-hd {
float: none
}
.no-padding-hd {
padding: 0
}
.no-margin-hd {
margin: 0
}
.relative-hd {
position: relative
}
.absolute-hd {
position: absolute
}
.static-hd {
position: static
}
.fixed-hd {
position: fixed
}
.none-hd {
display: none
}
.block-hd {
display: block
}
.inline-block-hd {
display: inline-block
}
.inline-hd {
display: inline
}
.left-hd {
float: left
}
.right-hd {
float: right
}
.text-left-hd {
text-align: left
}
.text-right-hd {
text-align: right
}
.text-center-hd {
text-align: center
}
.text-justify-hd {
text-align: justify
}
.no-col-hd {
width: auto;
float: none
}
.no-push-hd,.no-pull-hd {
left: 0
}

}
@media print {.no-float-print {
float: none
}
.no-padding-print {
padding: 0
}
.no-margin-print {
margin: 0
}
.none-print {
display: none
}
.block-print {
display: block
}
.inline-block-print {
display: inline-block
}
.inline-print {
display: inline
}
.text-left-print {
text-align: left
}
.text-right-print {
text-align: right
}
.text-center-print {
text-align: center
}
.text-justify-print {
text-align: justify
}
.no-col-print {
width: auto;
float: none
}
.no-push-print,.no-pull-print {
left: 0
}

}
html,body {
min-height: 100%
}
body {
position: relative
}
.header {
padding-top: 30px;
padding-bottom: 30px
}
.logo {
width: 100px;
height: 40px;
display: block;
float: left;
position: relative;
-webkit-transition: all .3s;
transition: all .3s;
z-index: 4000;
background-image: url("")
}
.logo:hover {
opacity: .7
}
.menu-checkbox {
display: none
}
.menu-label {
cursor: pointer;
padding-left: 20px;
margin-top: 10px;
line-height: normal;
position: relative;
z-index: 4000;
float: right
}
.menu-label:before,.menu-label:after,.menu-label .menu-label-inner:before {
content: "";
width: 15px;
height: 3px;
background: #101010;
display: block;
position: absolute;
-webkit-transition: all .3s;
transition: all .3s;
top: 0;
left: 0
}
.menu-label:before {
-webkit-transform: translate3d(0,4px,0);
transform: translate3d(0,4px,0)
}
.menu-label:after {
-webkit-transform: translate3d(0,9px,0);
transform: translate3d(0,9px,0)
}
.menu-label .menu-label-inner:before {
-webkit-transform: translate3d(0,14px,0);
transform: translate3d(0,14px,0)
}
.menu-label .menu-label-open {
display: inline
}
.menu-label .menu-label-close {
display: none
}
.menu-checkbox:checked+.menu-label+.logo {
background-image: url("")
}
.menu-checkbox:checked+.menu-label {
color: #fff
}
.menu-checkbox:checked+.menu-label:before,.menu-checkbox:checked+.menu-label:after {
background: #fff
}
.menu-checkbox:checked+.menu-label:before {
-webkit-transform: translate3d(0,9px,0)rotate(45deg);
transform: translate3d(0,9px,0)rotate(45deg)
}
.menu-checkbox:checked+.menu-label:after {
-webkit-transform: translate3d(0,9px,0)rotate(-45deg);
transform: translate3d(0,9px,0)rotate(-45deg)
}
.menu-checkbox:checked+.menu-label .menu-label-inner:before {
opacity: 0
}
.menu-checkbox:checked+.menu-label .menu-label-open {
display: none
}
.menu-checkbox:checked+.menu-label .menu-label-close {
display: inline
}
.navigation {
opacity: 0;
pointer-events: none;
-webkit-transition: all .3s;
transition: all .3s;
position: absolute;
text-align: left;
background-color: #101010;
background-color: rgba(16,16,16,.95);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 2000
}
.menu-checkbox:checked+.menu-label+.logo+.navigation {
opacity: 1;
pointer-events: auto
}
.navigation-inner {
color: #fff;
padding: 80px 5px 0
}
.menu {
list-style: none;
margin: 0;
position: relative;
padding-left: 30px;
padding-right: 30px;
z-index: 3000
}
.menu-secondary {
list-style: none;
margin: 0;
padding: 0
}
.menu-heading {
font-family: "Source Sans Pro",sans-serif;
font-size: 1.625rem;
line-height: 2rem;
color: #101010;
font-weight: 100;
display: block;
margin: 20px 0 5px
}
.menu-heading-link {
color: #ccc;
border-bottom: 1px solid transparent;
text-decoration: none;
-webkit-transition: all .3s;
transition: all .3s
}
.menu-heading-link:hover,.menu-heading-link.active {
border-color: #ccc
}
.menu-item {
position: relative;
padding-left: 14px;
margin-top: 2px;
margin-bottom: 2px
}
.menu-item:before {
content: "";
width: 4px;
height: 4px;
background: #fff;
display: block;
position: absolute;
top: 50%;
margin-top: -2px;
left: 0
}
.menu-item-link {
color: #fff;
text-decoration: none;
border-bottom: 1px solid transparent;
padding-bottom: 2px;
-webkit-transition: all .3s;
transition: all .3s
}
.menu-item-link:hover,.menu-item-link.active {
border-color: #fff
}
.banner {
background: #f7c723;
background-image: url('/images/web_BG.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: left top;
background-size: 50% 50%;
text-align: center
}
.banner-heading {
font-size: 3rem;
line-height: 3.2rem;
margin-top: 30px;
margin-bottom: 30px
}
.banner-copy {
font-size: 1.25rem;
line-height: 1.75rem
}
.banner-buttons {
padding-top: 10px;
padding-bottom: 50px
}
.banner-buttons .button {
display: block;
width: 80%;
float: none;
margin: 4px auto
}
.button-banner {
padding: 1em 2em
}
.features-block {
padding-top: 20px;
padding-bottom: 20px
}
.features {
list-style: none;
margin: 0;
padding: 0
}
.feature-item {
text-align: center;
position: relative;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 20px
}
.feature-item:after {
content: "";
position: absolute;
bottom: -30px;
left: 50%;
display: block;
width: 40px;
height: 2px;
background: #101010;
margin-top: 40px;
margin-bottom: 40px;
margin-left: -20px
}
.feature-item-icon {
position: relative;
padding-top: 60px
}
.feature-item-icon:before {
content: "";
width: 50px;
height: 50px;
position: absolute;
top: 0;
left: 50%;
margin-left: -25px;
border: 3px solid #101010
}
.feature-item-icon:after {
content: "";
width: 26px;
height: 24px;
display: block;
position: absolute;
top: 0;
left: 50%;
margin-top: 14px;
margin-left: -12px;
background-image: url("")
}
.responsive-icon:after {
background-position: 0 0
}
.foundation-icon:after {
background-position: -54px 0
}
.browser-icon:after {
background-position: -162px 0
}
.modular-icon:after {
background-position: -216px 0
}
.automation-icon:after {
background-position: -108px 0
}
.docs-icon:after {
background-position: -270px 0
}
.newsletter-block {
background: #f7c723;
padding-top: 40px;
padding-bottom: 40px
}
.newsletter-block-inner {
padding-left: 30px;
padding-right: 30px
}
.newsletter-form {
padding-top: 15px
}
.newsletter-heading {
font-family: "Source Sans Pro",sans-serif;
font-size: 1.375rem;
line-height: 1.75rem;
color: #101010;
font-weight: 400;
margin: 0
}
.newsletter-email {
border: 0;
color: #101010
}
.button-subscribe {
border: 0
}
.showcase-block {
padding-top: 40px;
padding-bottom: 40px
}
.showcase-examples {
position: relative;
padding-bottom: 50px
}
.showcase-tab {
display: none
}
.showcase-tab-radio-1:checked+label+.showcase-tab-1,.showcase-tab-radio-2:checked+label+.showcase-tab-2,.showcase-tab-radio-3:checked+label+.showcase-tab-3,.showcase-tab-radio-4:checked+label+.showcase-tab-4 {
display: block
}
.showcase-tab-label {
position: absolute;
bottom: 20px;
z-index: 1000;
left: 50%;
display: inline-block;
height: 8px;
width: 40px;
background-color: #101010;
background-color: rgba(16,16,16,.3);
cursor: pointer
}
.showcase-tab-radio:checked+.showcase-tab-label {
background-color: #101010
}
.showcase-tab-label-1 {
margin-left: -95px
}
.showcase-tab-label-2 {
margin-left: -45px
}
.showcase-tab-label-3 {
margin-left: 5px
}
.showcase-tab-label-4 {
margin-left: 55px
}
.showcase-work {
background: url() #777
}
.showcase-content {
background: #f7c723;
padding: 20px 40px
}
.showcase-content-inner {
max-width: 300px
}
.showcase-heading {
font-weight: 700;
margin-top: 0;
margin-bottom: 20px
}
.showcase-heading>a {
text-decoration: none
}
.showcase-heading>a:hover {
text-decoration: underline
}
.showcase-project {
display: block;
min-height: 300px;
-webkit-transition: all .3s;
transition: all .3s
}
.showcase-project:hover {
opacity: .8
}
.button-showcase {
margin-top: 10px
}
.footer {
font-size: .875rem;
line-height: 1.375rem;
padding-top: 40px;
padding-bottom: 40px;
background: #202020;
font-weight: 300
}
.footer,.footer a {
color: #fff
}
.footer p {
margin-bottom: 10px
}
.footer-links {
list-style: none
}
.footer-links,.footer-links li {
margin: 0;
padding: 0
}
.footer-links li:before {
content: "•";
margin-left: 7px;
margin-right: 12px
}
.footer-links li:first-child:before {
display: none
}
.adsbygoogle {
margin-top: 80px;
margin-bottom: 40px;
position: relative
}
.adsbygoogle:before {
content: "// Advertisement";
color: #999;
position: absolute;
font-size: .8125rem;
top: -22px;
left: 50%;
margin-left: -60px
}
.content {
padding-top: 20px;
padding-bottom: 40px
}
.spacer {
visibility: hidden
}
.custom-hr {
margin-top: 30px;
margin-bottom: 15px
}
.code-list {
list-style: none;
padding: 0;
margin: 0
}
.code-list li {
padding-top: 2px;
padding-bottom: 2px
}
table thead th {
width: 25%
}
.grid-example .clear {
margin-top: 2px;
margin-bottom: 2px
}
.grid-example [class*="col-"] {
font-size: .8125rem;
line-height: 1rem;
text-align: center;
padding-top: 5px;
padding-bottom: 5px
}
.grid-example .col-content {
display: block;
background: #ccc;
color: #111
}
.mixins-table thead {
display: none
}
.mixins-table tbody td {
display: block;
color: #333
}
.mixins-table tbody .mobile-table-header {
background: #eee;
border-top: 0;
margin-top: 20px
}
.mixins-table [data-title]:before {
content: "" attr(data-title)": ";
font-weight: 700;
display: block;
float: left;
width: 22%;
padding: 0
}
.mixins-table .data-content {
display: block;
overflow: hidden;
padding-left: 20px
}
.column-example-list thead th {
width: auto
}
.column-example-list .support {
border-right: 1px solid #fff;
width: 80px;
height: 30px;
text-align: center
}
.column-example-list .support:before {
font-size: 1.375rem;
line-height: 1.375rem;
display: inline-block;
color: #333
}
.column-example-list .available {
background-color: #adff2f
}
.column-example-list .available:before {
content: "✔"
}
.column-example-list .unavailable {
background-color: #f08080
}
.column-example-list .unavailable:before {
content: "✖";
font-size: 1.125rem
}
.base-background-color {
background: #fff
}
.base-font-color,.base-link-color,.h1-color,.h2-color,.h3-color,.h4-color,.h5-color,.h6-color {
background: #101010;
color: #fff
}
.base-blockquote-color {
background: #424242;
color: #fff
}
.base-blockquote-cite-color {
background: #777;
color: #fff
}
.base-code-color {
background: #272727;
color: #fff
}
.base-code-background-color {
background: #f1f1f1
}
.base-code-border-color {
background: #d7d7d7
}
.prettyprint {
padding: 10px!important;
border: 1px solid #d7d7d7!important;
color: #272727!important;
background: #f1f1f1!important
}
.no-float {
float: none\0/!important
}
.pln {
color: #000
}
@media screen {.str {
color: #080
}
.kwd {
color: #008
}
.com {
color: #800
}
.typ {
color: #606
}
.lit {
color: #066
}
.pun,.opn,.clo {
color: #660
}
.tag {
color: #008
}
.atn {
color: #606
}
.atv {
color: #080
}
.dec,.var {
color: #606
}
.fun {
color: red
}

}
@media print,projection {.str {
color: #060
}
.kwd {
color: #006;
font-weight: 700
}
.com {
color: #600;
font-style: italic
}
.typ {
color: #404;
font-weight: 700
}
.lit {
color: #044
}
.pun,.opn,.clo {
color: #440
}
.tag {
color: #006;
font-weight: 700
}
.atn {
color: #404
}
.atv {
color: #060
}

}
pre.prettyprint {
padding: 2px;
border: 1px solid #888
}
ol.linenums {
margin-top: 0;
margin-bottom: 0
}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
list-style-type: none
}
li.L1,li.L3,li.L5,li.L7,li.L9 {
background: #eee
}
.animate-example {
cursor: pointer;
border: 0;
background-color: #fff;
line-height: normal;
padding: .5em 1em;
text-decoration: none;
color: #363636;
display: inline-block;
-webkit-transition: all .3s;
transition: all .3s;
display: block;
text-align: center
}
.animate-example:hover,.animate-example:active {
text-decoration: none
}
.animate-example:hover {
background: #f9f9f9
}
.animate {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both
}
.button.button-red {
color: #fff;
background: #ff7f50
}
.button.button-red:hover {
background-color: #ff7f50;
background-color: rgba(255,127,80,.8)
}
.twitter-icon {
width: 16px;
height: 16px;
display: inline-block;
background-image: url("src/img/twitter.svg")
}
@media only screen and (min-width:740px) {.banner-heading {
font-size: 3.75rem;
line-height: 4.25rem
}
.banner-buttons .button {
display: inline-block;
width: auto;
margin-left: 4px;
margin-right: 4px
}
.navigation-inner {
padding-top: 100px
}
.menu {
padding-left: 20px;
padding-right: 20px
}
.features {
padding-top: 20px;
padding-bottom: 20px
}
.feature-item {
padding-left: 15px;
padding-right: 15px;
position: relative;
float: left;
width: 50%;
min-height: 200px
}
.newsletter-form {
padding-top: 30px
}
.showcase-work,.showcase-content {
position: relative;
float: left;
width: 50%;
padding: 0
}
.showcase-content-inner {
max-width: 400px;
min-height: 370px;
padding: 50px
}
.showcase-project {
display: block;
min-height: 370px
}
.footer p {
margin: 0
}
.mixins-table thead {
display: table-header-group
}
.mixins-table tbody td {
display: table-cell
}
.mixins-table tbody .mobile-table-header {
background: 0 0;
margin-top: 0
}
.mixins-table [data-title]:before {
content: "";
display: none
}
.mixins-table .data-content {
display: table-cell;
overflow: none;
padding-left: 0
}

}
@media only screen and (min-width:980px) {.banner-buttons {
padding-bottom: 60px
}
.feature-item {
position: relative;
float: left;
width: 33.33333333%;
padding-left: 30px;
padding-right: 30px;
min-height: 220px
}
.feature-item:after {
bottom: -20px
}
.newsletter-block-inner {
padding-left: 0;
padding-right: 0
}
.newsletter-form {
padding-top: 15px
}

}
@media only screen and (min-width:1140px) {.features {
padding-left: 50px;
padding-right: 50px
}
.feature-item,.newsletter-block-inner {
padding-left: 40px;
padding-right: 40px
}

}
@-webkit-keyframes fadeIn {0% {
opacity: 0
}
100% {
opacity: 1
}

}
@keyframes fadeIn {0% {
opacity: 0
}
100% {
opacity: 1
}

}
.fade-in {
-webkit-animation-name: fadeIn;
animation-name: fadeIn
}
@-webkit-keyframes fadeInDown {0% {
opacity: 0;
-webkit-transform: translate3d(0,-30px,0);
transform: translate3d(0,-30px,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInDown {0% {
opacity: 0;
-webkit-transform: translate3d(0,-30px,0);
transform: translate3d(0,-30px,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-down {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown
}
@-webkit-keyframes fadeInDownBig {0% {
opacity: 0;
-webkit-transform: translate3d(0,-100%,0);
transform: translate3d(0,-100%,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInDownBig {0% {
opacity: 0;
-webkit-transform: translate3d(0,-100%,0);
transform: translate3d(0,-100%,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-down-big {
-webkit-animation-name: fadeInDownBig;
animation-name: fadeInDownBig
}
@-webkit-keyframes fadeInLeft {0% {
opacity: 0;
-webkit-transform: translate3d(-30px,0,0);
transform: translate3d(-30px,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInLeft {0% {
opacity: 0;
-webkit-transform: translate3d(-30px,0,0);
transform: translate3d(-30px,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-left {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft
}
@-webkit-keyframes fadeInLeftBig {0% {
opacity: 0;
-webkit-transform: translate3d(-100%,0,0);
transform: translate3d(-100%,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInLeftBig {0% {
opacity: 0;
-webkit-transform: translate3d(-100%,0,0);
transform: translate3d(-100%,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-left-big {
-webkit-animation-name: fadeInLeftBig;
animation-name: fadeInLeftBig
}
@-webkit-keyframes fadeInRight {0% {
opacity: 0;
-webkit-transform: translate3d(30px,0,0);
transform: translate3d(30px,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInRight {0% {
opacity: 0;
-webkit-transform: translate3d(30px,0,0);
transform: translate3d(30px,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-right {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight
}
@-webkit-keyframes fadeInRightBig {0% {
opacity: 0;
-webkit-transform: translate3d(100%,0,0);
transform: translate3d(100%,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInRightBig {0% {
opacity: 0;
-webkit-transform: translate3d(100%,0,0);
transform: translate3d(100%,0,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-right-big {
-webkit-animation-name: fadeInRightBig;
animation-name: fadeInRightBig
}
@-webkit-keyframes fadeInUp {0% {
opacity: 0;
-webkit-transform: translate3d(0,30px,0);
transform: translate3d(0,30px,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInUp {0% {
opacity: 0;
-webkit-transform: translate3d(0,30px,0);
transform: translate3d(0,30px,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-up {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp
}
@-webkit-keyframes fadeInUpBig {0% {
opacity: 0;
-webkit-transform: translate3d(0,100%,0);
transform: translate3d(0,100%,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
@keyframes fadeInUpBig {0% {
opacity: 0;
-webkit-transform: translate3d(0,100%,0);
transform: translate3d(0,100%,0)
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none
}

}
.fade-in-up-big {
-webkit-animation-name: fadeInUpBig;
animation-name: fadeInUpBig
}
@media print {*,*:before,*:after {
background: 0 0;
color: #000;
box-shadow: none;
text-shadow: none
}
a,a:visited {
text-decoration: underline
}
a[href]:after {
content: " (" attr(href)")"
}
a[href^="#"]:after,a[href^="javascript:"]:after {
content: ""
}
pre,blockquote {
page-break-inside: avoid
}
thead {
display: table-header-group
}
tr,img {
page-break-inside: avoid
}
img {
max-width: 100%
}
p,h2,h3 {
orphans: 3;
widows: 3
}
h2,h3 {
page-break-after: avoid
}
abbr[title]:after {
content: " (" attr(title)")"
}

}
